body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf8ef; /* Common 2048 background color */
  color: #776e65;
  margin: 0;
  padding: 20px;
}
h1 {
  /* bina margin dale karoge to text algin kabhi beech mai nahi aayega*/
  margin: 0 auto;
  height: 10;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

hr {
  /*50% likhne se jo full length hai wo half mai ho jata h*/
  width: 50%;
  margin: 0 auto;
}
p {
  margin: 0 auto;
  height: 10;
  font-weight: 7000;
  font-family: Arial, Helvetica, sans-serif;
  /*justify use kiya h so that box ki hisab se fit ho*/
  text-align: justify;
}
/* .liknha hota h jab aise box ko define kar rahe ho*/
.box {
  width: 100px;
  height: 25px;
  border: 2px solid rgb(251, 208, 151); /* Add a border: thickness, style, color */
  padding: 20px; /* Add space between content and border */
  background-color: antiquewhite;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Creates 4 columns, each taking an equal fraction of available space */
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
  border: 1px solid rgba(126, 116, 116, 0.019);
  /*grid ko center mai lata h*/
  margin: auto;
}

.grid-cell {
  display: flex; /* Centers content within each cell */
  justify-content: center;
  align-items: center;
  background-color: #cdc1b4;
  font-size: 40px;
  font-weight: bold;
  border-radius: 3px;
}

.x2 {
  background-color: #eee4da;
  color: #776e65;
}
.x4 {
  background-color: #ede0c8;
  color: #776e65;
}
.x8 {
  background-color: #f2b179;
  color: #f9f6f2;
}
.x16 {
  background-color: #f59563;
  color: #f9f6f2;
}
.x32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}
.x64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}
.x128 {
  background-color: #edcf72;
  color: #f9f6f2;
  font-size: 35px;
}
.x256 {
  background-color: #edcc61;
  color: #f9f6f2;
  font-size: 35px;
}
.x512 {
  background-color: #edc850;
  color: #f9f6f2;
  font-size: 35px;
}
.x1024 {
  background-color: #edc53f;
  color: #f9f6f2;
  font-size: 30px;
}
.x2048 {
  background-color: #edc22e;
  color: #f9f6f2;
  font-size: 30px;
}
